*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header
{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 111px;
    gap: 11px;
    background-color: white;
}

header > h1
{
    font-weight: 300;
}

.logo-icon
{
    width: 45px;
}

main
{
    padding: 67px 63px;
}

form
{
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

form > input
{
    border: 1px solid #D1D5DB; 
    border-radius: 6px;
    padding: 9px 13px;
    flex-grow: 1;
    max-width: 400px;
    min-width: 150px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

form > button
{
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: #FAFAF8;
    width: 183px;
    padding: 9px 17px;
    border-radius: 6px;
    background-color: #141413;
}

form > button::before
{
    content: "+";
    margin-right: 5px;
}

.ingredients-list
{
    margin-bottom: 48px;
}

.ingredients-list > li
{
    color: #475467;
}

.get-recipe
{
    display: flex;
    justify-content: center;
}

.get-recipe-contents
{
    background-color: #F0EFEB;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    width: 594px;
    height: 109px;
    padding: 10px 28px;
    
}

.get-recipe-contents h3
{
    font-weight: 500;
    font-size: 1.125rem;
}

.get-recipe-contents p
{
    font-weight: 400;
    font-size: 0.875rem;
    color: #6B7280;
}

.get-recipe-contents button
{
    background-color: #D17557;
    padding: 9px 17px;
    border-radius: 6px;
    border-style: hidden;
    color: #FAFAF8;
}

.recipe-container 
{
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}